// COLOR PALLETE

$yellow: #dbd516;
//$green: #6c8063;
$red: #851614;
$blue: #177696;

$gray: #636970;
$gray-100: #f8f9fa;
$gray-200: #ccc;
$gray-300: #aaa;
$gray-400: #555;
$gray-900: #212529;
$black: #111;
