:host {
    .search-container {
        position: relative;
        .add-station-btn {
            position: absolute;
            right: 0;
            z-index: 1;
        }
    }
    .leaflet-container {
        position: relative;
        lib-station-map-create {
            top: 0;
            left: 12px;
            z-index: 1111;
            max-width: 320px;
            position: absolute;
        }

        // adjust heigth on active create station component
        &.station-map-create-active {
            min-height: 670px;
        }
    }
}
