:host {
    display: block;
    mat-form-field {
        margin-bottom: -18px;
    }
    lib-icons {
        cursor: pointer;
    }
    input.input-search {
        min-height: 30px;
        margin-left: 1rem;
        font-size: 1.5em;
        width: 100%;
        max-width: 239px;
        position: relative;

        &::placeholder {
            // color: #fff;
        }
    }
}
